nav{
    display: flex;
    justify-content: space-between;
}
.navLink{
    margin: 20px;
    margin-right: 40px;
}
a{
   color: black;
    margin: 20px;
    font-size: 30px;
}
.LinkContainer{
    display: flex;
}